In [3]:
%%time
#package imports
from bs4 import BeautifulSoup
import lxml
import requests as request
import pandas as pd
import numpy as np
#access the url and assign
years = list(np.arange(2010, 2022))
dfs = []
for year in years:
    url = f'https://www.pgatour.com/content/pgatour/stats/stat.159.y{year}.html'
    request.get(url)
    page = request.get(url)

    #use bs4 
    soup = BeautifulSoup(page.text, 'html')

    #find the table
    table_data = soup.find('table', class_ ='table-styled')

    #assign the headers
    headers = []
    for i in table_data.find_all('th'): #find the positions of the headers
        title = i.text.strip() #convert to text
        headers.append(title)

    df = pd.DataFrame(columns = headers)

    #grab the contents of the table
    for j in table_data.find_all('tr')[1:]:
            row_data = j.find_all('td')
            row = [tr.text.strip() for tr in row_data]
#             length = len(df_2021)
            df.loc[len(df)] = row
    
    df['YEAR'] = year
    df['ROUNDS'] = df['ROUNDS'].astype(int)
    df['DISTANCE'] = df['DISTANCE'].astype(int)
    dfs.append(df)
final=pd.concat(dfs, axis=0)

Wall time: 49.9 s

In [7]:
final

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE,YEAR
0,1,1,Steve Stricker,73,424,SBS Championshi,2,7,656,2010
1,2,2,Bubba Watson,77,416,Sony Open,1,8,006,2010
2,3,3,Boo Weekley,88,415,WGC-Bridgestone,4,16,036,2010
3,4,4,Dustin Johnson,83,414,SBS Championshi,3,7,656,2010
4,5,5,Paul Casey,64,412,WGC-Bridgestone,4,16,036,2010
...,...,...,...,...,...,...,...,...,...,...
629,T628,T628,Santiago Tarrio,2,272,Mayakoba,2,5,733,2021
630,631,631,Steve Jones,2,271,The Amex,1,2,704,2021
631,632,632,Fred Funk,4,267,Bermuda,3,12,765,2021
632,633,633,Larry Mize,4,266,Masters (2020),1,1,014,2021
633,634,634,Jeff Roth,2,265,Rocket Mortgage,2,2,876,2021